@import url('https://fonts.googleapis.com/css?family=Exo+2:200i');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Set neon color */
    --neon-text-color: #5B5A9D;
    --neon-border-color: #9A8BD2;
    --blanc: #f7f5f2;
    --violet: #9A8BD2;

}

body::-webkit-scrollbar {
    display: none;
}




body {
    font-family: 'Poppins', sans-serif;
    background: var(--violet);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    cursor: url('../assets/curseur.svg'), auto;
}

#start-div,
#start-div2 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-div {

    z-index: 100;
    background-image: url("../assets/ciel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#start-div2 {
    z-index: 101;
}



@keyframes sheen {
    0% {
        transform: skewY(-45deg) translateX(0);
    }

    100% {
        transform: skewY(-45deg) translateX(12.5em);
    }
}

#start-wrapper {
    display: block;
    position: absolute;
    font-family: 'Exo 2', sans-serif;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start-button {
    padding: 0.75em 2em;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 24px;
    display: inline-block;
    border-radius: 0.3em;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

#start-button:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

#start-button:hover {
    background-color: black;
    color: var(--blanc);
    border-bottom: 4px solid darken(black, 10%);
}

#start-button:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}





#zoom-in {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/ciel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

#zoom-in #magasin {

    height: 70%;
    z-index: 2;
}

#magasin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#zoom-in #route,
#zoom-in #ciel {
    width: 100vw;
    height: 30%;
}

#zoom-in #route {
    background-color: #555862;
    border-top: 10px solid #E2E5E1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: -20px;
}

#zoom-in #ciel {
    display: flex;
    justify-content: center;
    align-items: center;
}

span.effetneon {
    font-size: 6rem;
    font-weight: 200;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    animation: flicker 1.5s infinite alternate;
    user-select: none;

}

.effetneon::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

.effetneon::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}



.mouse {
    width: 35px;
    height: 60px;
    border: 2px solid var(--blanc);
    border-radius: 60px;
    position: relative;

    &::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--blanc);
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 40px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 430px;
    }
}


/* Animate neon flicker */
@keyframes flicker {

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {

        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-text-color),
            0 0 4rem var(--neon-text-color),
            0 0 6rem var(--neon-text-color),
            0 0 8rem var(--neon-text-color),
            0 0 10rem var(--neon-text-color);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

#effetGroupe {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    background-image: url(../assets/chemin.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#effetGroupe::before {
    content: "";
    padding-top: 56.25%;
    /* Ratio 16:9 (9/16 * 100%) */
    display: block;
    visibility: hidden;
    /* Cacher l'espace réservé du pseudo-élément */
}

.path {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* Couleur de fond du popup */
    color: #333;
    /* Couleur du texte du popup */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.path:hover+.popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.path:hover {
    background-color: #e74c3c;
}

.divider {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#path1 {
    top: 50%;
    left: 60%;
    background-color: #D65D6C;
}

#path2 {
    top: 50%;
    left: 50%;
    background-color: #58B5D2;
}

#path3 {
    top: 50%;
    left: 40%;
    background-color: #8362E2;
}

#popup1 {
    top: 40%;
    left: 20%;
}

#popup2 {
    top: 40%;
    left: 50%;
}

#popup3 {
    top: 40%;
    left: 80%;
}

#effetVonRestorff {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#effetVonRestorff h3 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    padding: 0 2rem;
    text-align: center;
    user-select: none;
}

.container {
    width: calc(100% - 100px);
    border-radius: 5vmin 5vmin 1vmin 1vmin;
    max-height: 720px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* overflow: hidden; */
    background-image: linear-gradient(to bottom, #CCCCCC 0, #CCCCCC 200px, #E6E6E6 200px, #E6E6E6 225px, #9E9E9E 225px, #9e9e9e 230px);
    background-size: 10px 230px;
    box-shadow: 5px 8px 3px 2px #0000007c, inset 5px 8px 3px 2px #0000003c;

    border: solid 30px #ddd;
    row-gap: 30px;
}

#shoppingCart {
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.dropzone {
    width: 90%;
    margin: 10px;
    padding: 10px;
    height: 200px;
    background-color: #ffffff5e;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chariot {
    width: 100%;
    height: 200px;
}


.fruit {
    margin-top: 20px;
    width: 16%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: end;
    filter: drop-shadow(16px 0px 5px #0000003c);
}

.fruit img {
    width: 100%;
}

.dropzone .fruit {
    width: 100%;
    margin-top: 0px;

}

.dropzone .fruit img {
    width: 100%;
    max-width: 180px;
}


#main {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 10;
    pointer-events: none;
    transform: rotate(90deg);
}

#main img {
    width: 100%;
    height: 100%;
    transform: rotate(-40deg);


}

#explicationGroupe {
    height: 150vh;
    padding-top:50vh ;
    width: 100vw;
    background: linear-gradient(180deg, rgba(226, 219, 229, 1) 0%, rgba(91, 90, 157, 1) 40%, rgba(91, 90, 157, 1) 100%);
}

.pinned {}


  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .img div {
    padding: 10%;
    width: 70%;
    aspect-ratio: 447/559;
    background-image: url(../assets/feuille.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Just Another Hand', cursive;
    font-size: 2rem;
  }
  
  
  .stepped-animation {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
  
  .single-step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

@media screen and (min-width: 1000px) {
    #route {
        width: 70%;
    }

    .fruit {
        width: 180px;
    }

    #shoppingCart {
        width: 50%;
    }

    .popup {
        max-width: 600px;
    }



}